@inject DeviceManager _deviceManager

<div>
    <div style="display:inline-block;width:60%" @onclick="@( async () => await SelectHandler() )">@Device.Name @Device.Level</div>
    <div style="display:inline-block;width:15%" @onclick="@( async () => await ExtraHandler1() )">On</div>
    <div style="display:inline-block;width:15%" @onclick="@( async () => await ExtraHandler2() )">Off</div>
</div>

@code {

    [Parameter] public DeviceControlDto Device { get; set; }

    public async Task SelectHandler()
    {
        await _deviceManager.ToggleAsync(Device);
    }

    public async Task ExtraHandler1()
    {
        await _deviceManager.OnAsync(Device);
    }

    public async Task ExtraHandler2()
    {
        await _deviceManager.OffAsync(Device);
    }

}

